@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
.loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 220px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: orangered;
    margin: auto;
    text-align: center;
}
.loadMore:hover {
    color: rgb(185, 54, 6);
}

.loadMore .loadMoreSvg {
    display: inline-block;
    width: 30px;
    height: 20px;
    /* color: white; */
    text-align: center;
}
@media only screen and (max-width: 1440px) {
    .loadMore{
        font-size: 18px;
    }
}
@media only screen and (max-width: 1024px) {
    .loadMore{
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px) {
    .loadMore{
        font-size: 12px;
    }
}
@media only screen and (max-width: 320px) {
    .loadMore{
        font-size: 12px;
    }
}
