@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.about{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 10vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.about .about1 {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.about .about1 .aboutA{
    width: 70%;
    /* background-color: #8f482f; */
    display: flex;
    flex-direction: column;
}
.about .about1 .aboutA h1{
    font-size: 25px;
    animation: 
    typing 8.5s steps(160, end);
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.about .about1 .aboutA p{
    font-size: 16px;
    text-align: justify;
    line-height: 50px;
    margin-bottom: 60px;
}
.about .about1 .aboutA span{
    font-size: 25px;
    color: orangered;
}
.about .about1 .aboutB{
    width: 30%;
    height: 120px;
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    /* background-color: orangered; */
}
.about .about1 .aboutB img{
    width: 300px;
    height: 300px;
}

.about .title1 {
    color: white;
}
@media only screen and (max-width: 1440px) {
    .about{
        width: 95%;
    }
    .about .about1 .aboutA h1{
        font-size: 17px;
    }
    .about .about1 .aboutA h1 span{
        font-size: 17px;
    }
    .about .about1 .aboutA p{
        font-size: 13px;
        text-align: justify;
        line-height: 45px;
    }
    .about .about1 .aboutA p{
        margin-bottom: 30px;
    }
    .about .about1 .aboutB img{
        width: 350px;
        height: 350px;
    }
    .about .about1 .aboutB{
        width: 35%;
        padding-top: 184px;
    }
    .about .about1 .aboutA{
        width: 65%;
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 1024px) {
    .about{
        width: 94%;
    }
    .about .about1 .aboutA h1{
        font-size: 16px;
    }
    .about .about1 .aboutA h1 span{
        font-size: 16px;
    }
    .about .about1 .aboutA p{
        font-size: 12px;
        text-align: justify;
        line-height: 45px;
    }
    .about .about1 .aboutA p{
        margin-bottom: 30px;
    }
    .about .about1 .aboutB img{
        width: 250px;
        height: 250px;
    }
    .about .about1 .aboutB{
        width: 35%;
        padding-top: 142px;
    }
    .about .about1 .aboutA{
        width: 65%;
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px) {
    .about{
        width: 92%;
        display: flex;
        align-items: center;
    }
    .about .about1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        /* background-color: orangered; */
    }
    .about .about1 .aboutA{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 42px;
    }
    .about .about1 .aboutA h1{
        font-size: 16px;
    }
    .about .about1 .aboutA h1 span{
        font-size: 16px;
    }
    .about .about1 .aboutA p{
        width: 100%;
        font-size: 12px;
        text-align: justify;
        line-height: 40px;
    }
    .about .about1 .aboutA p{
        margin-bottom: 30px;
    }
    .about .about1 .aboutB img{
        display: none;
    }
    .about .about1 .aboutB{
        display: none;
        background-color: black;
    }
    
}
@media only screen and (max-width: 360px) {
    .about{
        width: 85%;
        display: flex;
        align-items: center;
    }
    .about .about1 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about .about1 .aboutA{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about .about1 .aboutA h1{
        font-size: 14px;
    }
    .about .about1 .aboutA h1 span{
        font-size: 14px;
    }
    .about .about1 .aboutA p{
        font-size: 12px;
        text-align: justify;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .about .about1 .aboutB img{
        display: none;
    }
    .about .about1 .aboutB{
        display: none;
    }
    
}





