@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.projects {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
}
.projects p{
    margin-top: 22px;
    font-family: 'Poppins', sans-serif;
}

.projects .subProject {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects .subProject .project1 {
    width: 50%;
    display: flex;
    flex-direction: column;

}
.project1 img {
    width: 320px;
    margin: auto;
    margin-bottom: 20px;
}
.project1 h1 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 13px;
    text-align: center;
}
.projects .subProject .project2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.projects .subProject .project2 {
    width: 50%;
}
.project2 img {
    width: 320px;
    margin: auto;
    height: 146px;
    object-fit:  fill;
    margin-bottom: 20px;
}

.project2 h1 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 13px;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .projects {
        max-width: 100%;
    }
    .project2 img {
        width: 120px;
        margin: auto;
    }
    .projects p{
        font-size: 12px;
        padding: 0 32px;
        font-family: 'Poppins', sans-serif;
    }
    .subProject {
        width: 100%;
    }
    .subProject .project1{
        width: 50%;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    .project1 img {
        width: 300px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    .subProject .project2{
        width: 50%;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    .project2 img {
        width: 300px;
        height: 146px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .project1 h1 {
        font-size:18px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .project2 h1 {
        font-size:18px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 520px) {
    .project1 img {
        width: 200px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .project2 img {
        width: 200px;
        height: 98px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    .subProject {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}