@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.projects{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 10vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.projects p {
    font-size: 34px;
    text-align: justify;
}

.class {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.class .subProjectsA{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* background-color: bisque; */
    margin-top: 40px;
    align-items: center;
}
.subProjectsA h1 {
    text-align: center;
    margin-bottom: 30px;
    
}
.subProjectsA img {
    border-radius: 20px;
    margin-bottom: 30px;
    width: 90%;
}
.class .subProjectsB{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* background-color: bisque; */
    margin-top: 40px;
    align-items: center;
}
.subProjectsB h1 {
    text-align: center;
    margin-bottom: 30px;
    
}
.subProjectsB img {
    border-radius: 20px;
    margin-bottom: 30px;
    width: 70%;
}
@media only screen and (max-width: 1440px) {
    .projects{
        width: 95%;
        /* background-color: aqua; */
    }
    .projects p {
        font-size: 20px;
        line-height: 50px;
        text-align: justify;
    }
    .subProjectsA h1 {
        font-size: 35px;
    }
    .subProjectsB h1 {
        font-size: 35px;
    }
}
@media only screen and (max-width: 1024px) {
    .projects{
        width: 94%;
        /* background-color: aqua; */
    }
    .projects p {
        font-size: 15px;
        line-height: 45px;
        text-align: justify;
        margin-top: 15px;
    }
    .subProjectsA h1 {
        font-size: 25px;
    }
    .subProjectsB h1 {
        font-size: 25px;
    }
    .subProjectsB img {
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .subProjectsA img {
        border-radius: 10px;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 768px) {
    .projects{
        width: 92%;
        /* background-color: aqua; */
    }
    .projects p {
        font-size: 14px;
        line-height: 40px;
        text-align: justify;
        margin-top: 35px;
    }
    .subProjectsA h1 {
        font-size: 20px;
    }
    .subProjectsB h1 {
        font-size: 20px;
    }
    .subProjectsB img {
        border-radius: 7px;
        margin-bottom: 10px;
    }
    .subProjectsA img {
        border-radius: 7px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 425px) {
    .projects{
        width: 92%;
        /* background-color: aqua; */
    }
    .projects p {
        font-size: 14px;
        line-height: 40px;
        text-align: justify;
        margin-top: 35px;
    }
    .subProjectsA h1 {
        font-size: 15px;
    }
    .subProjectsB h1 {
        font-size: 15px;
    }
    .subProjectsB img {
        border-radius: 7px;
        margin-bottom: 10px;
    }
    .subProjectsA img {
        border-radius: 7px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 360px) {
    .projects{
        width: 85%;
    }
    .projects p {
        font-size: 12px;
        line-height: 30px;
        text-align: justify;
        margin-top: 35px;
    }
    .class {
        flex-direction: column;
    }
    .class .subProjectsA{
        width: 100%;
        margin-top: 20px;
        align-items: center;
    }
    .class .subProjectsB{
        width: 100%;
        margin-top: 30px;
    }
    .subProjectsA h1 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .subProjectsB h1 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .subProjectsB img {
        border-radius: 4px;
        margin-bottom: 6px;
    }
    .subProjectsA img {
        border-radius: 4px;
        margin-bottom: 6px;
    }
}
