@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.services{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 10vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.services p {
    font-size: 24px;
    text-align: justify;
    line-height: 70px;
}

.image {
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    gap: 82px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.image1a {
    width: 40%;
    background-image: url(./assets/service1.png);
    height: 60vh;
    background-size: 800px auto;
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.image1a h1 {
    color: white;
    margin-left: 40px;
}
.image1a p {
    color: white;
    margin-left: 40px;
    font-size: 23px;

}
.image2a {
    width: 40%;
    background-image: url(./assets/service2.png);
    height: 60vh;
    background-size: 800px auto;
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.image2a h1 {
    color: white;
    margin-left: 40px;
}
.image2a p {
    color: white;
    margin-left: 40px;
    font-size: 23px;
}
@media only screen and (max-width: 1440px) {
    .services{
        width: 95%;
    }
    .services p{
        font-size: 15px;
        line-height: 50px;
    }
    .image2a {
        height: 40vh;
    }
    .image2a h1 {
        color: white;
        margin-left: 30px;
    }
    .image1a {
        height: 40vh;
    }
    .image1a p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1024px) {
    .services{
        width: 94%;
    }
    .services p{
        margin-top: 15px;
        font-size: 14px;
        line-height: 45px;
    }
    .image2a {
        height: 40vh;
    }
    .image2a h1 {
        color: white;
        margin-left: 35px;
    }
    .image1a {
        height: 40vh;
    }
    .image1a p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .services{
        width: 92%;
    }
    .services p{
        margin-top: 35px;
        font-size: 13px;
        line-height: 40px;
    }
    .image2a {
        height: 40vh;
    }
    .image2a h1 {
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 20px;
        
    }
    .image2a p {
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    .image1a {
        height: 40vh;
    }
    .image1a h1 {
        color: white;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    .image1a p {
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
}
@media only screen and (max-width: 425px) {
    .services{
        width: 85%;
    }
    .services p{
        margin-top: 35px;
        font-size: 12px;
        line-height: 30px;
    }
    .image {
        /* margin-top: 50px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 1px;
    }
    
    .image1a {
        width: 80%;
        background-image: url(./assets/service2.png);
        height: 30vh;
        background-size: 300px auto;
        background-repeat: no-repeat;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .image1a h1 {
        color: white;
        text-align: center;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    .image1a p {
        color: white;
        text-align: center;
        font-size: 12px;
        margin: 0;
        padding: 0;
    
    }
    .image2a {
        width: 80%;
        background-image: url(./assets/service1.png);
        height: 30vh;
        background-size: 300px auto;
        background-repeat: no-repeat;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .image2a h1 {
        color: white;
        text-align: center;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    .image2a p {
        color: white;
        text-align: center;
        font-size: 12px;
        margin: 0;
        padding: 0;
    
    }
    
}
@media only screen and (max-width: 360px) {
    .services{
        width: 85%;
    }
    .services p{
        margin-top: 35px;
        font-size: 12px;
        line-height: 30px;
    }
    .image {
        gap: 40px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .image1a {
        width: 80%;
        background-image: url(./assets/service2.png);
        height: 30vh;
        background-size: 300px auto;
        background-repeat: no-repeat;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .image1a h1 {
        color: white;
        text-align: center;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    .image1a p {
        color: white;
        text-align: center;
        font-size: 12px;
        margin: 0;
        padding: 0;
    
    }
    .image2a {
        width: 80%;
        background-image: url(./assets/service1.png);
        height: 30vh;
        background-size: 300px auto;
        background-repeat: no-repeat;
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .image2a h1 {
        color: white;
        text-align: center;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    .image2a p {
        color: white;
        text-align: center;
        font-size: 12px;
        margin: 0;
        padding: 0;
    
    }
    
}

