@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
.subHome {
    background-image: url('./assets/121-01.jpg');
    background-size: 100%;
    max-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    object-fit: fill;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.subHome h1 {
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 100px;
}

.subHome button a {
    padding: 10px 50px;
    text-decoration: none;
    border: none;
    background-color: #00ADEE;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.subHome button a:hover {
    background-color: #048ec0;

}
.subHome button  {
    background-color: transparent;
    border: none;
}

.subHome .socialMedia {
    position: absolute;
    width: 29%;
    height: 80px;
    display: flex;
    right: 20px;
    bottom: 30px;
    flex-direction: row;
    float: right;
}


.socialMedia .Linked {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}
.socialMedia .Linked img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.socialMedia .Linked a {
    color: white;
    text-decoration: none;
}


.socialMedia .Insta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.socialMedia .Insta img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.socialMedia .Insta a {
    color: white;
    text-decoration: none;
}


.socialMedia .Github {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}
.socialMedia .Github img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.socialMedia .Github a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1440px) {
    .subHome {
        height: 100vh;
    }
    .subHome h1 {
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 30px;
        margin-bottom: 50px;
    }
    .subHome button a {
        padding: 5px 25px;
        font-size: 13px;
    }
    .subHome .socialMedia {
        width: 32%;
    }

}
@media only screen and (max-width: 1024px) {
    .subHome{
        height: 100vh;
        object-fit: cover;
        background-size: 120%;
    }
    .subHome h1 {
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 30px;
        margin-bottom: 40px;
    }
    .subHome button a {
        padding: 7px 30px;
        font-size: 12px;
    }
    .subHome .socialMedia {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .subHome{
        height: 50vh;
        object-fit: cover;
        background-size: 120%;
    }
    .subHome h1 {
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 20px;
        margin-bottom: 35px;
    }
    .subHome button a {
        padding: 5px 25px;
        font-size: 12px;
    }
    .subHome .socialMedia {
        display: none;
    }
}
@media only screen and (max-width: 620px) {
    .subHome{
        height: 50vh;
        object-fit: cover;
        background-size: 120%;
        top: 10vh;
        margin-bottom: 50px;
    }
    .subHome h1 {
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 15px;
        
    }
    .subHome button a {
        padding: 3px 15px;
        font-size: 8px;
    }
    .subHome .socialMedia {
        display: none;
    }
}
@media only screen and (max-width: 455px) {
    .subHome{
        height: 43vh;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 320px) {
    .subHome{
        height: 30vh;
        object-fit: cover;
        background-size: 120%;
        top: 10vh;
        
    }
    .subHome h1 {
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 15px;
        
    }
    .subHome button a {
        padding: 3px 15px;
        font-size: 8px;
    }
    .subHome .socialMedia {
        display: none;
    }
}
