@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
.subHome {
    background-color: rgba(0, 0, 0, 0.9);
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.title {
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.title .title1 {
    margin-left: 32px;
    font-size: 38px;
}
.title .title2 {
    margin-left: 32px;
}
.title .title3 {
    margin-left: 32px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
}

.subHome .image {
    width: 50%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}

.subHome .image .image1 {
    width: 450px;
    height: 450px;
    /* object-fit: cover; */
    
}