@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.title .title1{
    margin-bottom: 42px;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    font-size: 35px;
}
.title .title1::after{
    content: '';
    width: 240px;
    display: block;
    height: 3px;
    background-color: black;
}

@media only screen and (max-width: 1440px) {
    .title .title1 {
        font-size: 22px;
        margin-bottom: 32px;
    }
    .title .title1::after{
        width: 150px;
        height: 2.5px;
    }
}
@media only screen and (max-width: 1024px) {
    .title .title1 {
        font-size: 18px;
        margin-bottom: 22px;
    }
    .title .title1::after{
        width: 140px;
        height: 2px;
    }
}
@media only screen and (max-width: 768px) {
    .title .title1 {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .title .title1::after{
        width: 130px;
        height: 2px;
    }
}
@media only screen and (max-width: 320px) {
    .title .title1 {
        font-size: 18px;
        margin-bottom: 1px;
    }
    .title .title1::after{
        width: 120px;
        height: 1.5px;
    }
}